.panda-bg-info{
    background: #fceae8;
}
.categories img{
    width: 100px !important;
}

.panda-bye-now{
  background-image: linear-gradient(to bottom, #ff448e 0%, #FF136F 100%);
  color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
border: none;
}
